.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.App {
  text-align: center;
}

.navbar {
  margin-top: 30px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.home {
  margin-right: 20px;
}
.nav-home {
  margin: 20px;
  background-color: aliceblue;
  text-decoration: none;
  padding: 20px;
}
.nav-list {
  margin: 20px;
  background-color: aliceblue;
  text-decoration: none;
  padding: 20px;
}
.nav-login {
  margin: 20px;
  background-color: aliceblue;
  text-decoration: none;
  padding: 20px;
}
.nav-admin {
  margin: 20px;
  background-color: aliceblue;
  text-decoration: none;
  padding: 20px;
}
.nav-logout {
  margin: 20px;
  background-color: aliceblue;
  text-decoration: none;
  padding: 20px;
}
.home {
  padding: 10px;
  /* border: 1px red solid; */
  width: 40%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.total_terminated {
  background-color: grey;
}
